:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body {
  color: var(--slate);
  letter-spacing: 0.02em;
  font-size: 16px;
  font-family: var(--font-family);
}
.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
}
.logo-header {
  color: var(--navy-blue);
}
.logo-footer {
  color: var(--cloud);
}
.list-items {
  list-style-type: none;
}

.navigation-link,
.contacts-item {
  text-decoration: none;
}

.navigation-link {
  font-weight: 500;
  line-height: 150%;
  color: var(--navy-blue);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--iris);
}
.contacts-item {
  line-height: 150%;
  color: var(--slate);
  font-style: normal;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--iris);
}
.page-title-section {
  background: var(--navy-blue);
}
.page-title {
  width: 496px;
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  text-align: center;
  color: var(--white);
}
.page-title-hidden {
  color: transparent;
}
.order-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  cursor: pointer;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-item-content {
  text-decoration: none;
}
.order-button:hover,
.order-button:focus {
  background: var(--ocean);
}
.filter-button {
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean);
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.section-title-hidden {
  color: transparent;
}
.project-category {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.benefit-item,
.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--navy-blue);
}
.benefit-item {
  text-align: left;
}
.benefit-description {
  line-height: 150%;
  letter-spacing: 0.02em;
}
.team {
  background: var(--cloud);
}
.team-card {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.team-card-name {
  text-align: center;
}

.team-card-job {
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}
.additional-info {
  background: var(--navy-blue);
}
.tagline {
  line-height: 150%;
  color: var(--cloud);
  height: 72px;
  width: 264px;
}
